.containers {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center */
    align-items: center; /* Horizontally center */
    /* height: 100%;  */
    margin-top: 5%;
    font-family: sans-serif;

    
  }
  
  .top-container {
    border: 2px solid rgba(0, 0, 0, 0); /* Add border */
    padding: 20px; /* Add padding for better spacing */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    border-radius: 0.7em;
    width: 60%;
    margin-right: 25%;
  }
  
  .top-container p {
    margin: 10px 0; /* Add some margin between paragraphs */
    color: gray;
    display: flex; /* Enable flex display for aligning items */
    align-items: center; /* Align items vertically */
    margin-left: 15px;
  }

  .top-container h1 {
    font-size: 2rem;
    letter-spacing:0.2rem ;
    margin-left: 15px;
  }

  .middle-container {
    border: 2px solid rgba(0, 0, 0, 0); /* Add border */
    padding: 20px; /* Add padding for better spacing */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    border-radius: 0.7em;
    width: 60%;
    margin-right: 25%;
    margin-top: 25px;
  }

  .middle-container p {
    margin: 10px 0; /* Add some margin between paragraphs */
    color: gray;
    display: flex; /* Enable flex display for aligning items */
    align-items: center; /* Align items vertically */
    margin-left: 15px;
  }

  .middle-container h1 {
    font-size: 2rem;
    letter-spacing:0.2rem ;
    margin-left: 15px;
  }

  .middle-container img {
    /* width: 40px; */
    /* height: auto; */
    margin-right: 10px;
    
  }

  .checkbox{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-top: 10px;
  }

  .checkbox input[type="checkbox"] {
    /* Hide the default checkbox */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid black;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
  }
  
  /* Style the custom checkbox when checked */
  .checkbox input[type="checkbox"]:checked {
    background-color: rgb(5, 59, 9);
  }
  
  /* Style the label */
  .checkbox label {
    font-weight: bold;
    color: black;
    margin-top: 3px;
    margin-left: 5px;
  }
.bottom-



/* bottom container */
  .items-cards {
    border: 1px solid rgba(0, 0, 0, 0);
    margin-bottom: 4rem;
    background-color: white;
    width: 100%;
    border-radius: 1rem;
  }
  
  .products-containers {
    display: flex;
  }
  
  .products-images {
    flex: 0 0 auto;
    margin-right: 10px;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  
  .products-infos {
    flex: 1 1 auto;
    margin-left: 1rem;
    margin-top: 1rem;
  } 
  
  .products-infos #title{
  color: grey;
  }
  
  .products-infos #disc {
  font-size: 1rem; /* Change the font size to your desired value */
  margin-top: 20px;
  word-spacing: -1px;
  font-weight: bold;
  }
  
  .products-infos img{
  margin-left: -1rem;
  }
  
  .quantity {
  display: flex;
  flex-direction: row;
  margin-left: 30rem;
  margin-top: -3.4rem;
  
  }
  
  .quantity img#decr {
  margin-left: 0.5rem; /* Adjusted margin to move the minus button to the left */
  }
  
  .quantity img#incr {
  margin-right: 0.5rem; /* Adjusted margin to move the minus button to the left */
  }
  