.product-list {
  margin-left: 10rem;
  margin-right: 25rem;
  /* background-color: red; */
}

.product {
  display: flex;
  margin-top: 10%;
  /* background-color: pink; */
}

.product-details {
  /* Add styles to display product-details to the right */
  margin-left: 50px; /* Add some space between product-details and Container */
}

.Container {
  display: flex;
  justify-content: space-between; /* Ensure product-details is to the right */
}

.bigImage {
  margin-left: 1rem; /* Add some space between bigImg and smallImg */
  border-radius: 0.5rem;
}

.smallImg {
  display: flex;
  flex-direction: column;
}

.smallImage {
  width: 3rem; /* Adjust the width as needed */
  height: 4rem; /* Maintain aspect ratio */
  margin-bottom: 10px; /* Add some space between images */
  border-radius: 0.5rem;
}

.product-details h1 {
  font-size: 3rem;
  margin-top: -0.1px; /* Use negative margin-top to move the element up */
}

.button2 {
  margin-left: 55rem;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 80px;
  width: 140px;
  height: 30px;
  background: #1a1f16;
  border-radius: 17px;
}
.button2 span {
  color: white;
  margin-top: 8px;
}

hr {
  border: none; /* Remove the default border */
  border-radius: 5em;
  height: 3px; /* Set the height of the horizontal rule */
  width: 63%;
  background-color: rgba(0, 0, 0, 0.598); /* Set the background color */
  margin-right: 0%; /* Add margin for spacing */
  margin-left: 11%;
}

.paragraph {
  margin-left: 11rem;
  margin-right: 25rem;
}

.paragraph h1 {
  margin-top: 32px;
  margin-bottom: 10px;
}
